* {
  font-family:  roboto , Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, "Lato", sans-serif;
  margin: 0%;
  padding: 0%;
 }
 
 body{
     background-color: #897db6;
    background-image: url("https://static.vecteezy.com/ti/fotos-gratis/p1/2254545-lilas-pastel-roxo-cor-aquarela-textura-fundo-foto.jpg");
  }

  .modal {
    position: absolute;
    width: 56%;
    top: 20%;
    left: 15%;
    padding: 7%;
    background: #fff;
    border-radius: 1em;
    z-index: 2;
    text-align: center;
  }

  .fade {
    position: absolute;
    width: 100%;
    height: 80%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

.start{
padding: 5px;
margin-top: 8px;
 }

.conteudo {
  display: flex;
  flex-direction: row;
}

/* CRUZADINHA */

#cruzadinha {
  padding-left: 3vw;
}

/* inicio questões */

#perguntas {
  padding-right: 3vw;
  text-align: justify;
  text-align: center;
}

.question-box {
  background-color: rgb(160, 160, 201);
  padding: 10px;
  border-radius: 5px;
  opacity: 0.8;
  border-bottom: 1px solid #145da0;
  margin-bottom: 10px;
  display: none;
  box-shadow: 6px 6px 3px -3px rgba(0, 0, 0, 0.75);
}

.apareceu {
  display: block;
}

.question-box p {
  color: white;
  text-shadow: 3px 4px 3px #252525;
  letter-spacing: 0.1rem;
}

.question-box button {
  border: none;
  background-color: rgb(0, 0, 63);
  opacity: 0.9;
  border-radius: 5px;
  border: 2px solid #145da0;
  font-weight: bold;
  padding: 10px;
  font-family: "Chivo", sans-serif;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
 background-color:  #897db6;
  }

/* fim questões */

/* BOTOES */
.botoes {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

  #boxResposta {
    text-align: center;
    color: #fff;
    width: 350px;
    height: 2vh;
    margin-top: 10px;
    padding: 3px 0px;
    font-size: 0.7em;
   margin-top: 10x;
    padding: 3px 0px;
    font-size: 1.2em;
  }

.box-container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  font-family: "VT323", monospace;
  color: white;
  font-size: 30px;
}

#div_mascara {
  width: 100%;
  height: 120vh;
  position: absolute;
  display: none;
  z-index: 99;
}

h1{
  font-size: 2.5vw;
  font-weight: bolder;
text-align: center;
color: rgb(97, 87, 87);
}

@keyframes errou {
  0% {
    background-color: rgba(255,0,0,0.72);
  }
  50% {
    background-color: none;
  }
  100% {
    background-color: rgba(255,0,0,0.72);
  }
}
@keyframes acertou {
  0% {
    background-color: rgba(0,255,0,0.72);
  }
  50% {
    background-color: none;
  }
  100% {
    background-color: rgba(0,255,0,0.72);
  }
}

#div_mascara.animacao_errou {
  display: block;
  animation: errou 1.5s;
}

#div_mascara.animacao_acertou {
  display: block;
  animation: acertou 1.5s;
}

::-webkit-scrollbar {
  background-color: #252525;
}

::-webkit-scrollbar-thumb {
  background-color: #5130ca;
  border-radius: 5px;
}

input {
  width: 1vw;
  padding: 0.5vw;
  text-align: center;
  text-transform: uppercase;
  margin: 0vw;
  font-weight: bold;
}

input[disabled] {
   background-color: #5130ca9a;
 }

 input::placeholder {
  color: aliceblue;
  font-size: 1em;
}